@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1619077087150'); /* IE9 */
  src: url('iconfont.eot?t=1619077087150#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALIAAsAAAAABoQAAAJ7AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBEIEUATYCJAMICwYABCAFhG0HMBu6BREVjE+yHwfO2XQ2CvrMy5lUCV2kew6ep7X/nbszu2++iAl4SCLSIIolSCS8eRLxTN615RjujGqC/yWJ//Msf6O93/30y4rHGIxBKYRESBoggMCsT9w7/dP/L5D5zrsc96KxJk3qAowDKcC9MAok4CKJvWHsApdwHwJ4E08u0lr3jmLQWMsEkM3tuiVMLoJGs7xBcGr2auQUNsY6bD0BTobfl38UiwELW2E1Da5tW6Xx12e7SO1yd5n1CaIgoMM2oIBcQIOM1mb6UQgTKrwzmmTYV73Ar8+u67uRvf55iINV6wtALFTek8pV36q8BYCG8ZANlIx6Z1B+JmzrmVve/kfuRKuAS7ejtpyO8DsaVuQb4Dv+vpHue/0W+tyLtoD7r1LU+ZeV91pD1PkozIcPu/AU7brmfbbIk/aNPqSXTJxrHSyCD7shp8Munl/0OOeC/Ts0AuD+Vk+VLwII7Lt6MnchoPa/8dEAvL/S+SkMub81/Xxg9u4V+Euqnn1a11guS6uq2oJFNursLd54Ay44EMzHsdawWyoIhrAb83mIS6EwpJKazYWND6VwMEAb4C2HPewjhNiSeQHZXgAi0AcWf3ehBPqSmv3BFu4PR2BbeBsv5Ewf6bWmRdApRvBPaANP5HjURPUHTNfBSVYTii4oSxuHMiuKeYsTyhwblluqVAlIeIQaPIbDwDALdxg0a1TnfZ5T3YuywOPKaCGQo1AEvCfQCtiE/OHKlD5/gJKrgSMtPTXFCyQW7eSglCl6kNY49eq5l2cWN0lFKQKIYCNQg1loMGBgrp/VQYHKNCNSs73cHkR9jdn65vHrjgDeLJuVPU3hnIeIsloBAA==') format('woff2'),
  url('iconfont.woff?t=1619077087150') format('woff'),
  url('iconfont.ttf?t=1619077087150') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1619077087150#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-folder:before {
  content: "\e7e0";
}

