@import './variables.less';

#root {
  height: 100%;
}

.pointer {
  cursor: pointer;
}

.action-btn {
  min-width: auto !important;
}

/*透明度*/
.opacity-5 {
  opacity: 0.5;
}

.hide {
  display: none;
}
