/** @format */

//色值定义
@color-primary: #2249c0;
@color-blue: #79adf8;
@color-black: #000;
@color-blue-normal:#677a8e;
@color-blue-light: #8e9ca8;
@color-light: #f5f7f7;
@color-danger: #ff3e27;
@color-warning: #feb312;
@color-success: #37b184;
@color-white: #fff;

//功能划分
@border: @color-light;

@icon: @color-blue-light;

@text-white: @color-white;
@text-primary: @color-black;
@text-link: @color-primary;
@text-desc:@color-blue-normal;

@bg-primary: @color-blue;
@bg-white: @color-white;
