/** @format */

@import '@styles/variables.less';

.main-layout{
    display: flex;
    height: 100vh;
    &-side{
        width: 81px;
        border-right: 1px @border solid;
        background: #001529;
        text-align: center;
        display: flex;
        flex-direction: column;
        :global{
            .logo{
                margin: 12px auto;
            }
            .navs{
                flex:1;
            }
            .preference{

            }
        }
    }
    &-main{
        flex:1;
    }
}